/* 
    Document   : style
    Created on : 05.12.2013, 19:16:20
    Author     : Eric Herrmann
*/

body {
    background-color: #000000;
    color: #00DD00;
    font-family: Arial;
}
.ticker {
    visibility: hidden;
    width: 300px;
    margin-right: 20px;
    float: left;
    min-height: 300px;
}
a {
    color: #00FF00;
    text-decoration: none;
}
